body {
	background-color: #0f0f0f;
}

.google {
	height: 125px;
	width: 125px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #4285F4;
}

.youtube {
	height: 125px;
	width: 125px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #c4302b;
}

.twitter {
	height: 125px;
	width: 125px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #00acee;
}

.ig {
	height: 125px;
	width: 125px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #3f729b;
}

.gmail {
	height: 125px;
	width: 125px;
	margin-top: -530px;
	margin-left: 145px;
	background-color: #db4a39;
}

.whatsapp {
	height: 125px;
	width: 125px;
	margin-top: 10px;
	margin-left: 145px;
	background-color: #00bb2d;
}

.classroom {
	height: 125px;
	width: 125px;
	margin-top: 10px;
	margin-left: 145px;
	background-color: #ECAF05;
}

.reddit {
	height: 125px;
	width: 125px;
	margin-top: 10px;
	margin-left: 145px;
	background-color: #FF4500;
}











